# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
.vs/

# Virtual environment
venv/
.env


# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env


# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

# C extensions
*.so

# Python test/coverage reports
.coverage
.coverage.*
nosetests.xml
test.xml
coverage.xml
*.cover
*.log

# Pytest
.cache
pytest_debug.log

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project


/ArabicFelGenerator/ArabicVerbGenerator/Credentials/arabicverbgenerator-ff8d2c424453.json
